<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Personal</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/habits">Habits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/videos">Videos</a>
      </li>
    </ul>
    <login></login>
  </div>
</nav>

<div class="container" style="padding-top: 60px;">
  <router-outlet></router-outlet>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<footer class="footer">
  <div class="container">
    <span class="text-muted">Personal life managment website.</span>
  </div>
</footer>